<!DOCTYPE HTML>
<head> 
    <title>Add a Buddy in JS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
	<h1>Add Buddy</h1>
    <form>
    	<p class="buddyid">Id: <input type="text" /></p>
        <p class="buddyname">Name: <input type="text" /></p>
        <p class="buddynumber">Number: <input type="text" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
    <script>src="buddy.js"</script>
</body>
</html>