<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Buddy Successfully Submitted</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Result</h1>
    <p th:text="'id: ' + ${addbuddytobook.id}" />
    <p th:text="'content: ' + ${addbuddytobook.name}" />
    <p th:text="'content: ' + ${addbuddytobook.number}" />
    <a href="/addbuddytobook">Add another Buddy to this AddressBook</a>
    <br>
    <a href="/addaddressbook">Add another AddressBook</a>
</body>
</html>